<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- Version 8 MySQL hiberante-cfg.xml example for Hibernate 5 -->
<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/campushire</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="connection.username">root</property>
    <property name="connection.password">j@v5683A</property>
<property name="hbm2ddl.auto">update</property>
<property name="show_sql">true</property>
 <mapping class="com.learn.campushire.entities.Try"/>
    
    <!--property name="dialect">org.hibernate.dialect.MySQLDialect</property-->
    <!-- mapping class="com.mcnz.jpa.examples.Player" / -->
    <mapping class="com.learn.campushire.entities.Students"/>
    <mapping class="com.learn.campushire.entities.Course"/>
  <mapping class="com.learn.campushire.entities.Job"/>
  <mapping class="com.learn.campushire.entities.Type"/>
  <mapping class="com.learn.campushire.entities.Users"/>
    <mapping class="com.learn.campushire.entities.Company"/>
    <mapping class="com.learn.campushire.entities.Recruiter"/>
  
  </session-factory>
</hibernate-configuration>